/*  your css code here. If applicable */
#container{
margin:20px;
position:relative;
}

#container::before{
content:"[Before Text]";
color:#f00;
font-size:20px;
display:block;
margin-bottom:10px;
}

#container::after{
content:"[After Text]";
color:#f00;
font-size:20px;
display:block;
margin-top:10px;
}
